@import '../../variables.scss';

.icon-btn {
  border-radius: 50%; // round
  padding: 0.375rem; // override bootstrap padding to make it square
  width: 38px; // 24 + 6 padding (x2) + 1 border (x2), to make it square

  &.btn-lg {
    width: 44px; // 30 + 6 padding (x2) + 1 border (x2), to make it square
  }
  &.btn-sm {
    width: 35px; // 21 + 6 padding (x2) + 1 border (x2), to make it square
  }

  &.rippleActive {
    color: $primary;
  }

  .disabled {
    opacity: 0.5;
    /*optional*/ cursor: not-allowed;
    /*optional*/ pointer-events: none;
  }
}